<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <div>
        <h1 class="landingTitle">welcome to everyday  tasks manager</h1>
        <div class="grid1">
            <img src="./images/logo.jpg" alt="logo image" class="logo image">
<p>welcome to your task manager where you can put your schedules so that you can rember them in future
you can put all you want to do  in future so that you can remember them
</p>
</div>
    </div>
    <div class="grid2">
        <img src="./images/first.jpg" alt="first image" class=" image">
        <p>every one have many plans in his or her life but sometimes you can forgot about some plans and time you want to accomplish your plan here the solution welcome to everday tasks manager. </p> 
    </div>
    <div class="grid3">
        <img src="./images/second.jpg" alt="second image"class=" image">
        <p>

            in this task manager you can have full access to all your schedules you have put like editing ,deleting and adding new schedules and your schedules are personal.No one can I have access to your schedules only you welcome
        </p>
    </div>
  
    </div>
    <footer>
        <p>feel interested? welcome, you can explore more </p>
        <div class="navs">
            <nav>
                <ul class="initial">
                    <li >
                        <p>by login if you already have account or  ... </p>
                        <a class="btn link landingButton " href="/loginPage">login</a>
                    </li>
                    <li >
                        <p>create new account </p>
                        <a class="btn link landingButton" href="./signUpPage">sign up</a>
                    </li>
                </ul>
            </nav>
<p> for enjoying benefits and interesting of everday tasks manager.</p>
<div>
    <p>
        done &copy, jodos
    </p>
</div>       
 
    </footer>
</body>
</html>